<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Community</title>
    <script type="text/javascript" th:src="@{/static/community.js}"></script>
</head>
<th:block layout:fragment="content">
    <h1>Community</h1>
    <div class="d-flex container">
    <div id="articleContainer" class="d-flex container flex-column">
        <div class="row">
            <div class="col"> 제목 </div>
            <div class="col"> 작성자 </div>
            <div class="col"> 작성시간 </div>
        </div>
    </div>
    </div>
</th:block>
</html>